<nav>
    <div class="nav-wrapper light-blue darken-3">
        <a href="#" class="brand-logo">Angular Sample</a>
        <ul id="nav-mobile" class="right" [hidden]="!showNav">
            <li *ngFor="let item of menuItems">
                <a routerLink="{{item?.route}}" routerLinkActive="active">{{item?.name}}</a>
            </li>
        </ul>
        <button class="btn-flat right" (click)="logout()" [class.hidden]="!showLogoutButton"><i class="mdi mdi-logout"></i></button>
    </div>
</nav>
