.content{
    display: flex;
    width: 100%;
    padding: 8px;
}
.list-wrapper {
    width: 360px;
    height: calc(100vh - 68px);
    overflow: scroll;
}
.close-btn {
    float: right;
    top: 25px;
}
@media (max-width: 772px) {
    .list-wrapper {
        width: 100%;
    }
    .person {
        width: 100%;
    }
}