.content{
    display: flex;
    width: 100%;
}
.list-wrapper {
  width: 360px;
  height: calc(100vh - 68px);
  overflow-y: scroll;
  padding: 8px;
  border-right: 1px solid lightgray;
}
.close-btn {
    float: right;
    top: 25px;
}
@media (max-width: 772px) {
    .list-wrapper {
        width: 100%;
        height: calc(100vh - 68px - 48px);
    }
    .person {
        width: 100%;
    }
}
